//=require "easyui"
@import font-awesome
@import fonts

$black: #000

table
    width: 100%
    border-collapse: collapse
    
    tr

        th, td
            padding: 10px
            text-align: left

        th

        td 
            border-top: 1px solid $black

    tfooter td
        font-weight: bold

.display-icon
    max-height: 400px
    width: auto !important
    margin: 0 auto
    display: block
    padding: 20px

.color-sample
    width: 20px
    height: 20px
    display: inline-block

h1, h2, h3, h4, h5
    margin: 0
    padding: 0

ul.products
    li
        width: 100px
        height: 100px
        float: left
        padding: 0 10px
        cursor: pointer

        img
            width: 100%

.row
    display: table
    width: 100%

    > *
        float: left

        > img
            width: 100%

$num-columns: 12
$column-width: 100% / $num-columns

@for $i from 1 through $num-columns
    .span#{$i}
        width: $column-width * $i

    .offset#{$i}
        margin-left: $column-width * $i

*
    box-sizing: border-box

body
    padding: 20px
    margin: 0
    font-family: $body-font
    font-size: 14pt

.price
    font-size: 14px
    // display: block

.admin-bar
    position: fixed
    left: 160px
    top: 0
    padding: 20px

.basket-btn
    position: absolute
    right: 0
    top: 0
    padding: 10px
    z-index: 2

[data-icon-manager], [data-art-manager]
    ul
        display: table
        
        li
            border: 2px solid transparent
            float: left
            height: 120px
            width: 120px
            position: relative

            .small-btn
                position: absolute 
                top: 0
                right: 0

            img
                height: 100px
                position: absolute
                bottom: 0

            &[data-selected-icon]
                border-color: $black

.compras
    // text-align: center

    > .row > * > *
        margin-bottom: 40px

[data-image-picker]
    cursor: pointer

header
    left: 0
    top: 0
    padding: 10px
    position: fixed

footer
    padding: 20px
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    background-color: #fff
    text-align: center
    text-transform: uppercase
    font-size: 14px
    letter-spacing: 2px

section
    overflow: hidden

a
    color: $black

ul
    padding: 0
    margin: 0

    li
        display: block

h2
    text-transform: uppercase

.btn, .small-btn
    background-color: $black
    text-transform: uppercase
    text-decoration: none
    color: #fff
    display: inline-block
    z-index: 2
    position: relative

.btn
    padding: 5px
    font-size: 20px

.small-btn
    font-size: 12px
    padding: 3px
    border-radius: 3px

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

input, textarea, button, select
    display: block
    width: 100%
    padding: 10px
    margin-bottom: 10px
    font-size: 14pt
    font-family: $body-font

section
    display: block

.push-right
    float: right

main
    padding-left: 200px
    padding-bottom: 60px
    padding-top: 100px

.collection-expanded
    > .row > * > *
        margin-bottom: 20px
    h2
        text-align: center

.collections 
    margin: -5px

    .caption
        text-align: center

    article
        width: 300px
        height: 300px
        float: left
        margin: 5px
        position: relative
        z-index: 2

        img.art
            height: 200px

        ul.products
            display: table
            
            li
                width: auto
                height: 50px

                img
                    height: 100%
                    width: auto

        .caption
            padding: 10px 0
            a
                text-decoration: none
